<%- include("../template/header.ejs") %>
<%- include("../template/nav.ejs") %>

<body>
    <h1><%= task.name %></h1>
    <div class="show">
        <p><%= task.dueDate.toLocaleDateString() %></p>
        <p><%= task.notes %></p>
        <form action="/tasks/edit/<%= task._id %>">
            <input type="submit" value="Edit"/>
        </form>
        <form action="/tasks/">
            <input type="submit" value="Go Back"/>
        </form>
        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
        </form> 
    </div>
</body>